* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  animation: transitionIn 0.7s;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #0f0c29, #302b63,#24243e);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
nav {
  width: 100%;
  height: 100px;
  color: whitesmoke;
  display: flex;
}
.name {
  width: 50%;
  height: 100px;
}
.name h1 {
  font-size: 30px;
  line-height: 100px;
  margin-left: 80px;
}
-------------------------------------menu-----------------------------------
  .menu {
  width: 50%;
  height: 100px;
}
.menu ul {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu ul li {
  list-style: none;
  font-size: 13px;
  text-transform: uppercase;
  padding-right: 100px;
}
.menu ul li a {
  text-decoration: none;
  color: whitesmoke;
}

section {
  display: flex;
}
.leftside {
  width: 45%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
    
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    
  }
}

@keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
}


.leftside img {
  animation: fadeInRight ease 4s;

  width: 600px;
  height: 600px;
  -webkit-animation: fadeInRight ease 4s;
}

.rightside {
  width: 45%;
  height: 500px;
  color: whitesmoke;
  text-align: center;
  margin-top: 80px;
}
.rightside h1 {
  animation: fadeInDown ease 3s;
  
  font-family: "Castoro", serif;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}
.rightside p {
  animation: fadeInDown ease 3s;
  font-size: 0.9rem;
  padding-top: 17px;
  letter-spacing: 0.1em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    
    
  }
  100% {
    opacity: 1;
    
    
  }
}
.btn {
  animation: fadeIn ease 4s;
  width: 90%;
  height: 70px;
  border-radius: 40px;
  background: #fa4f00;
  margin: 50px 80px;
}
.lgn {
  float: left;
  padding: 18px 80px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.sign {
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 18px;
  padding-right: 50px;
  text-decoration: none;
}
.circle {
  animation: fadeIn ease 3s;
  opacity: 60%;
  width: 125px;
  height: 125px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 136vh;
  top: 59vh;
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.smallcircle {
  animation: fadeIn ease 3s;
  box-shadow: 100px rgb(87, 80, 80);
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 912px;
  top: 405px;
}
@keyframes stretch {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.2);
    
  }
}
.detail{
width: 100%;
height: 600px;

}
.head1 {
   animation: fadeIn ease 3s;
 position: absolute;
 padding-top: 10vh;
width: 80vh;
height: 64px;
left: 409px;
font-family: Arial Rounded MT Bold;
font-style: normal;
font-weight: bold;
font-size: 65px;
letter-spacing: 0.1em;
color: #8D7670; 
}
.line{
  position: absolute;
width: 79px;
height: 0px;
left: 600px;
top: 815px;
border-radius: 5px;

border: 5px solid #F63308;
}
.detail p{
   animation: fadeIn ease 3s;
  position: absolute;
width: 1256px;
height: 180px;
padding-left: 100px;
margin-top: 35vh;

font-family: 'Cabin', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 45px;
/* or 180% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;

color: #0C0C0C;

}

.recrutiers{
  font-family: 'Cabin', sans-serif;
   width: 100%;
  height: 200vh;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #08001b;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

}

.container{

  width: 1100px;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card{
position: relative;
width: 300px;
height: 400px;
background: white;
background-image: url(/apple1.jpg);
display: flex;
justify-content: center;
align-items: center;
margin: 30px;
box-shadow: 0 20px 50px rgba(0,0,0,0.2);
overflow: hidden;
}

.container:hover .card{
opacity: 0.2;
}

.container .card:hover{
  opacity: 1;
}


.container .card::before{
  content: "";
  position: absolute;
  top:2px;
  left: 2px;
  bottom: 2px;
  background: rgb(255,255,255,0.1);
  width: 50%;
  pointer-events: none;
}
.container .card .content{
  padding: 30px;
  text-align: center;

}

.container .card .content h2{
  position: absolute;
  right: 30px;
  font-size: 4em;
  font-weight: 800;
  color: blue;
  z-index: 1;
  opacity: 0.1;
  transition: 0.5s;

}


.container .card::hover .content h2{
  opacity: 1;
  transform: translateY(-70px);

}


.container .card .content h3{
  position: relative;
  font-size: 1.5em;
  color: white;
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.5s;

}

.container .card .content p{
  position: relative;
  font-size: 1em;
  color: white;
  font-weight: 300;
  z-index: 2;
  opacity: 0.5;
  
  transition: 0.5s;

}

.container .card .content a{
  display: inline-block;
  margin-top: 15px;
  padding: 8px 15px;
  background: white;
  color: #0c002b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;

}

.container .card span{
  transition: 0.5;
  opacity: 0;
}

.container .card:hover span{
  opacity: 1;
}

.container .card span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right,transparent,#1779ff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1{
  0%
  {
    transform: translateY(-100%);
  }
   100%
  {
    transform: translateY(100%);
  }
}
.container .card span:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom,transparent,#1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2{
  0%
  {
    transform: translateX(-100%);
  }
   100%
  {
    transform: translateX(100%);
  }
}

.container .card span:nth-child(3){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left,transparent,#1779ff);
  animation: animate3 2s linear infinite;
  
}

@keyframes animate3{
  0%
  {
    transform: translateX(100%);
  }
   100%
  {
    transform: translateX(-100%);
  }
}

.container .card span:nth-child(4){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to top,transparent,#1779ff);
  animation: animate4 2s linear infinite;
  
}

@keyframes animate4{
  0%
  {
    transform: translateY(100%);
  }
   100%
  {
    transform: translateY(-100%);
  }
}

.footer{
  width: 100%;
  height: 80vh;
 

}

.container .card::hover .content h3 , .container .card .content p{
opacity: 1;

